<!-- Renderizar variables con un valor en el HTML -->
<div class="container">
  <h1>Mi primera chamba</h1>
<h2>{{welcome}}</h2>
<ul>
  <li *ngFor="let task of tasks">
    {{ task }}
  </li>
</ul>
<hr>
<h2>{{'Mi primera chamba'.repeat(4)}}</h2>
<p>la suma de 3 + 3 es  {{3 + 3}}</p>
<p>Hola soy {{ name }} y mi edad es {{ age }}</p>
<hr>
<img [src]="img" alt="">
<!-- Property Binding es cuando enlazamos una variable a una propiedad de un elemento con un input-->
<input type="text" [value]="person.name">
<button  [disabled]="status" >Click me</button>
<p>{{person.name}}</p>
<hr>
<!-- Event Binding -->
<button (click)="clickHandler()">click me</button>
<p></p>
<button (dblclick)="clickHandler()">double me</button>
<p>changeNumber</p>
<input type="number" [value]="age" (change)="changeHandler($event)">
<p>changeText</p>
<input type="text" [value]="name" (change)="changeHandler($event)">
<p>keydown</p>
<input type="text" [value]="name" (keydown)="keyDownHandler($event)">
<p>keydown shift t</p>
<input type="text" [value]="name" (keydown.shift.t)="clickHandler()">
</div>
<h1>Signals</h1>
<p>changeText</p>
<input type="text" [value]="name" (change)="changeHandler($event)">
